
<%= form_for (@article) do |f|  %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div class="form-group">
    <h4> <%= f.label :title %> </h4>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <h4> <%= f.label :content %> </h4>
    <%= f.text_area :content, class: 'form-control content' %>
  </div>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>

